*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
/writable/
!writable/.gitkeep

#Archivos sensibles y entornos
.env
.env.*

#Dependencias y autogenerados
/composer.lock

#Logs y caché adicional
*.log
*.cache
/session/
/tmp/

#PostgreSQL y backups
*.dump
*.backup
*.sql
/database/backups/

# Excepción: Permitir archivos .sql y .backup dentro de /sql/
!/sql/*.sql
!/sql/*.backup

#IDE y editor
.idea/
.vscode/
*.swp
error_log
LEEME.txt
